body {
    margin: 2em auto;
    max-width: 62em;
    min-width: 26em;
    padding: 0 2em;
    position: relative;
}

#cards {
    margin: 0 10em 1.5em 0;
}

#options.active {
    position: fixed;
    top: 5.6em;
    right: 1em;
    background: #ddd;
    padding: .5em .5em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#options.active h3 {
    font-size: 1.2em;
    margin-bottom: 0.444em;
}
#options.active ul {
    padding: 0;
    margin: 0 0 .8em 0;
}
#options.active li {
    margin-left: 1.5em;
    cursor: pointer;
    list-style-image: url(images/checkbox_no.png);
}
#options.active li.active {
    list-style-image: url(images/checkbox_yes.png);
}
#options.active li.exclusive {
    list-style-image: url(images/radiobutton_no.png);
}
#options.active li.exclusive.active {
    list-style-image: url(images/radiobutton_yes.png);
}
#options.active li:hover {
    text-decoration: underline;
}
#explanation {
    background-color: #fff;
    border: 1px solid #999;
    width: 8em;
    margin-bottom: 1em;
    padding: .2em .4em;
    line-height: 1.2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#explanation strong {
    display: block;
}

#basics img {
    float: right;
}

.jsHint {
    font-weight: bold;
}
.jsHint em {
    font-weight: normal;
    font-style: normal;
}

div.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 1px;
    visibility: hidden;
}
