body {
    margin: 2em auto;
    max-width: 52em;
    min-width: 20em;
    padding: 0 10em;
}
#cards {
    margin-bottom: 1.5em;
}
#options.active {
    position: fixed;
    top: 2em;
    right: 2em;
    background: #ddd;
    padding: .5em .5em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#options.active h3 {
    font-size: 1.2em;
}
#options.active ul {
    padding: 0;
    margin-left: 0;
}
#options.active li {
    color: #00c;
    margin-left: 1.5em;
    cursor: pointer;
}
#options.active li.active {
    color: #c00;
}
#options.active li:hover {
    text-decoration: underline;
}
.jsHint {
    font-weight: bold;
}
.jsHint em {
    font-weight: normal;
    font-style: normal;
}
div.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 1px;
    visibility: hidden;
}
